.title {
    color: black;
    font-size: 30;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}



.sub {
  color: grey;
  font-size: 15;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
}



.text {
  color: black;
  font-size: 15;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}



.start-button {
background-color: green;
color: white;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
cursor: pointer;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 5px;
}
