input {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
}

.first-name {
  width: 150px;
  display: inline-block;
}

.last-name {
  width: 150px;
  display: inline-block;
}

.email {
  width: 327px;
  display: block;
  margin-top: 10px;
  
}

.sign-up {
  background-color: blue;
  color: white;
 margin-top: 10px;
 width: 349px;
 font-size: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 5px;
 border-style: none;
 cursor: pointer;
}